<!DOCTYPE html>
<html>
<!-- page.html - template for test site to demonstrate functionality of web_c
     licensed under the terms of GPL v3, see LICENSE file for more info -->
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
{{{content}}}

<em> web_c test site - basic theme</em>
</body>
</html>
