form {
  border: 3px solid #000000;
  background-color: var(--menubg);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.login-container {
  padding: 16px;
  max-width: 500px;
  margin: auto;
}

.invalid-submission {
  color: red;
  font-weight: 700;
  text-align: center;
}

